/* The global textarea wrapper that contains both the plain text textarea and the supplied icon. */
.box {
  display: flex;

  border-width: 0px;
  border-style: solid;
  border-radius: 0px;
  border-color: whitesmoke;

  background-color: whitesmoke;

  padding-top: 2.5px;

  transition: border-color 0.15s ease;

  min-height: 40px;
}

/* 
 * When the user clicks inside the textarea box, then the border
 * should change its color to black,
 */
.box:focus-within,
.box:hover {
  border-color: black;
}

/* Styling for the icon wrapper that contains the supplied icon. */
.box .icon {
  display: flex;
  align-items: center;
  justify-content: center;

  color: #888;

  transition: color 0.15s ease;

  min-width: 35px;
  max-height: 35px;
}

/* 
 * When the user clicks inside the textarea box, then the icon
 * should change its color to black.
 */
.box:focus-within .icon,
.box:hover .icon {
  color: black;
}

/* Styling for the plain textarea. */
.box .textarea {
  font-family: 'Source Serif Pro', serif;
  font-size: 15px;

  padding: 8px 7px 0 0;

  border: none;
  border-radius: 5px;

  outline: none;
  appearance: none;
  box-shadow: none;

  background-color: transparent;

  -webkit-tap-highlight-color: transparent;

  width: 100% !important;
  min-height: 40px;
}

.box .textarea::placeholder {
  color: #8e8e8e;
  opacity: 1;
}

/* 
 * When no icon is available, indent text by 10px.
 */
.box .indentText {
  padding-left: 10px;
}
